body {
  width: 100%;
  max-width: var(--max-width);
  margin: 0px auto;
}

a {
  color: var(--font-color);
  font: var(--main-font);
  text-decoration: none;
}

a:focus {
  text-decoration: underline;
  outline: none;
}

a:active {
  color: var(--secondary-color);
}

label a {
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  border-bottom: 1px solid var(--secondary-color);
  width: 100%;
  max-width: var(--max-width);
}

header a h2 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  font-size: 24px;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  width: 95vw;
  max-width: var(--max-width);
}

header p {
  font-size: normal;
  font-weight: lighter;
  font-family: "Courier New", Courier, monospace;
}

#bars-menu,
#close-menu {
  filter: invert(var(--color-inversion));
  width: 30px;
}

#menuCheckbox {
  position: fixed;
  margin-top: -100px;
}

/* Deals with label change */

#menuCheckbox:checked ~ header label div :first-child {
  display: none;
}

#menuCheckbox ~ header label div :first-child {
  display: inline;
}

#menuCheckbox:checked ~ header label div :last-child {
  display: inline;
}

#menuCheckbox ~ header label div :last-child {
  display: none;
}

/* Deals with menu links */

#menuCheckbox:checked ~ .menu-links a {
  display: inline;
}

#menuCheckbox ~ .menu-links a {
  display: none;
}

/* Deals with menu bar */

#menuCheckbox ~ .menu-links {
  height: 1px;
  opacity: 0.9;
  border-bottom: 0px solid transparent;
}

#menuCheckbox:checked ~ .menu-links {
  height: 50px;
  opacity: 0.9;
  transition-duration: var(--transition-duration);
  transition: ease-in;
  border-bottom: 1px solid var(--secondary-color);
}

.content {
  width: 100%;
  min-height: 100vh;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0.5%;
  font-size: 24px;
}

#home, #about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home h1, #about h1 {
  font-family: monospace;
  font-size: 3rem;
  font-weight: lighter;
  text-align: center;
}

.work-history {
  font-family: var(--main-font);
}

.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: var(--max-width);
}

.menu {
  position: fixed;
  top: 0px;
  background-color: var(--main-color);
  z-index: 100;
  width: 98.5%;
  margin: 0 0.5%;
  padding-top: 0.5%;
  max-width: var(--max-width);
}

.menu-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--main-color);
  height: 1px;
  transition: ease-in-out;
  transition-duration: 0.3s;
  opacity: 0.7;
  text-transform: capitalize;
  font-size: medium;
}

.menu-links a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--secondary-color);
  text-decoration: none;
  opacity: 1;
}

.menu-links a:hover {
  opacity: 0.7;
}

.menu-links a:active {
  opacity: 0.5;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  transition: ease-in-out;
  transition-duration: var(--transition-duration);
  width: 100%;
  max-width: var(--max-width);
}

.btn-link,
.btn-contact-link {
  font-family: var(--main-font);
  margin: 1vw;
  border: 1px solid var(--decor-color);
  padding: 10px;
  color: var(--secondary-color);
  transition: ease-in-out;
  transition-duration: var(--transition-duration);
}

.btn-contact-link {
  width: 10%;
  max-width: 100px;
  transition: ease-in-out;
  transition-duration: var(--transition-duration);
}

.btn-link:hover,
.btn-contact-link:hover {
  color: var(--main-color);
  background-color: var(--secondary-color);
  transition: ease-in-out;
  transition-duration: var(--transition-duration);
}

.btn-link:active,
.btn-contact-link:active {
  color: var(--secondary-color);
  background-color: var(--decor-color);
  transition: ease-in-out;
  transition-duration: var(--transition-duration);
}

.btn-contact-link img {
  filter: invert(var(--color-inversion));
  width: 100%;
  height: 100%;
  transition: ease-in-out;
  transition-duration: var(--transition-duration);
}

.btn-contact-link:hover img {
  filter: invert(calc(1 - var(--color-inversion)));
  transition: ease-in-out;
  transition-duration: var(--transition-duration);
}

#welcome-image {
  filter: invert(var(--color-inversion));
  width: 90vw;
  max-width: var(--max-width);
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-family: monospace;
  width: 100%;
  height: 2rem;
}

#contact-light {
  display: none;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: var(--main-font);
}

@media print {
  html {
    font-family: 'Courier New', Courier, monospace;
    color: #111;
  }
  
  .menu-links,
  #home,
  #projects,
  #contact,  
  footer,
  .skills-content,
  .skills-item-btn, .skills,
  hr, br,
  a, img, input, label,
  .content h2
  {
    display: none;
  }

  #all-skills-toggle~#skills-table,
  header a {
    display: block;
  }

  th, td {
    border: 1px solid #111;
    font-size: small;
  }

  .work-history span {
    position: absolute;
    right: 0px;
  }

  h1, h3, h4, h5, p, li {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
  }

  #contact-light {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: 0px 10px;
  }

  #contact-light p {
    font-size: small;
  }
}

.resume {
  width: 150px;
  height: 40px;
  margin: 100px;
  border: 1px solid darkred;
  background-color: darkred;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume:hover {
  background-color: red;
  border-color: red;
}

.resume:active {
  opacity: 0.7;
}

a:active {
  text-decoration: none;
}